/* .App {
  text-align: center;
} */

nav {
  display: flex;
  justify-content: space-around;
  height: 4rem;
  background-color: pink;
  padding-top: 30px;
}
.link {
  text-decoration: none;
  color: white;
  font-weight: 600;
}
.link:hover {
  text-decoration: underline;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5rem 2rem;
}
img {
  width: 50%;
  height: 60vh;
  /* position: absolute; */

  /* left: 20rem; */
  /* top: 120px; */
  /* z-index: -1; */
  flex: -1;
  margin-right: 30px;
}
.home-details {
}

.procedure-details {
  flex: 1;
}

.contact-details {
  text-align: center;
}
.contact-details > img {
  width: 50%;
  height: 50%;
  margin-left: 2rem;
}
